<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css">
        <!--/app.css looks for it in the ROOT directory-->
        <!--looks for anything inside the public directory-->
        
        <!--app.css looks for it in the current dir, which is the current template-->
        
        <!--<link rel="stylesheet" href="/stylesheets/app.css">-->
        <!--<script src="/scripts/main.js"></script>-->
    </head>
    <body>
